* {
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

header {
    width: 100%;
    height:auto;
    padding: 0.5rem 5rem;
    background-color:#283949;
    color: white;
    display:flex;
    justify-content: space-between
}

div {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.header-start {
    padding: 1rem 1.5rem;
    margin: 0;
}

.header-start p {
    font-size: 1.5rem;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}

.nav-enlace {
    color: white;
    padding: 1rem 1.5rem;
    display: inline-block;
    text-decoration: none;
}

.nav-enlace:hover {
    background-color: #3c6184;
}

.main-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    color: white;
    padding: 5rem; 
}

.img-avatar {
    width: 20em;
    height: 20;
    margin-bottom: 1.25rem;
}

.line-star-white {
    font-size: 2em;
    margin-bottom: 1em;
}

.main-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.line-star-black {
    color: black;
    font-size: 2em;
    margin-bottom: 1em;
}

.gallery {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 1rem; 
}
.img-gallery {
    display: flex;
    border-radius: 1rem;
    min-height: 4rem;
    padding: 0.5rem;
    position: relative;
    background-position: center;
    max-width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    color: white;
    padding: 5rem;
}

.paragraph {
    display: flex;
    justify-content: center; 
}

div.paragraph p {
    width: 30%;
    margin: 0 2em 2em 2em;
    font-size: 1.5rem;
}

.download-button {
    background-color: #1ABC9C;
    font-size: larger;
    color: white;
    width: 18rem;
    height: 5rem;
    border: white solid 2px;
    border-radius: 0.5rem;
}

.download-button i {
    font-size: 2rem;
    margin-right: 1.5rem;
    color: white
}
 
.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.form-contact {
    width: 50%;
}

.form-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-contact li {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    }

.form-contact label {
    color: #6C757D;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.form-contact input {
    border: none;
    border-bottom: 2px solid #E9ECEF;
    margin-bottom: 1rem;
}

.form-contact textarea {
    height: 200px;
    border: none;
    border-bottom: 2px solid #E9ECEF;
    margin-bottom: 1rem;
}

.form-button {
    background-color: #1ABC9C;
    font-size: larger;
    color: white;
    width: 7rem;
    height: 5rem;
    border: white solid 2px;
    border-radius: 0.5rem;
    align-self: flex-start;
}

.footer-contact {
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    background-color: rgb(44, 62, 80);
    color: white;
}
.footer-span-start {
    color: #1F8B62;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 6rem;
}
.around-the-web {
    margin: 2rem 6rem;
}
.about-freelancer {
    margin: 2rem 6rem;
}
.footer-copyright {
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    background-color:#283949;
    color: white;
    font-size: smaller;
    display:flex;
    justify-content: center; 
}

