* {
    /* padding: 0; */
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

header {
    width: 100%;
    height:auto;
    margin: auto;
    padding: 0.5rem;
    background-color:#283949;
    color: white;
    display:flex;
    justify-content: space-around;
}

div {
    width: 100%;
    height: 25%;
}

.header-start {
    padding: 1rem 1.5rem;
    margin: 0;
}

.header-start p {
    font-size: 1.25rem;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}

.nav-enlace {
    color: white;
    padding: 1rem 1.5rem;
    display: inline-block;
    text-decoration: none;
}

.nav-enlace:hover {
    background-color: #3c6184;
}

.main-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1ABC9C;
    color: white;
    
}

.img-avatar {
    width: 20%;
    height: 20%;
}

.main-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.line-star-black {
    color: black;
}

.img-gallery {
    width: 12%;
    height: 10%;
}

.footer-copyright {
    width: 100%;
    height:auto;
    margin: auto;
    padding: 0.5rem;
    background-color:#283949;
    color: white;
    font-size: 0.10 rem;
    display:flex;
    justify-content: center; 
}
 

